var config = require('./webpack.config.js');
var WebpackStatusPlugin = require('<%= options[:config].gem_root %>/lib/status-plugin.js');
var webpack = require('webpack');

config.plugins = (config.plugins || []);

config.plugins.push(
  new WebpackStatusPlugin(config)
);

module.exports = config;
